<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wingtek-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://wingtek-001-site1.itempurl.com:8172/msdeploy.axd?site=wingtek-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>wingtek-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\wingtek-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5036.myWindowsHosting.com;Initial Catalog=DB_A298B0_tekENotions;User ID=DB_A298B0_tekENotions_admin;Password=Cde3xsw2!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TekENotionsWebApp.Authentication.AuthContext, TekENotionsWebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TekENotionsEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5036.myWindowsHosting.com;Initial Catalog=DB_A298B0_tekENotions;User ID=DB_A298B0_tekENotions_admin;Password=Cde3xsw2!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TekENotionsWebApp.Models.TekENotionsEntities, TekENotionsWebApp" MigrationConfiguration="TekENotionsWebApp.Migrations.Configuration, TekENotionsWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5036.myWindowsHosting.com;Initial Catalog=DB_A298B0_tekENotions;User ID=DB_A298B0_tekENotions_admin;Password=Cde3xsw2!</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TekENotionsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TekENotionsEntityModel.csdl|res://*/Models.TekENotionsEntityModel.ssdl|res://*/Models.TekENotionsEntityModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5036.myWindowsHosting.com;Initial Catalog=DB_A298B0_tekENotions;User ID=DB_A298B0_tekENotions_admin;Password=Cde3xsw2!"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnectionB-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnectionB-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TekENotionsEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>